@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?jx51tp');
  src:  url('fonts/icomoon.eot?jx51tp#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?jx51tp') format('truetype'),
    url('fonts/icomoon.woff?jx51tp') format('woff'),
    url('fonts/icomoon.svg?jx51tp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelope-o:before {
  content: "\f003";
}
.icon-user:before {
  content: "\f007";
}
.icon-th-list:before {
  content: "\f00b";
}
.icon-home:before {
  content: "\f015";
}
.icon-tags:before {
  content: "\f02c";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-github:before {
  content: "\f09b";
}
.icon-feed:before {
  content: "\f09e";
}
.icon-rss:before {
  content: "\f09e";
}
.icon-chain:before {
  content: "\f0c1";
}
.icon-link:before {
  content: "\f0c1";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-angle-double-left:before {
  content: "\f100";
}
.icon-angle-double-right:before {
  content: "\f101";
}
.icon-tumblr:before {
  content: "\f173";
}
.icon-share-alt:before {
  content: "\f1e0";
}
.icon-pinterest-p:before {
  content: "\f231";
}
.icon-reddit-alien:before {
  content: "\f281";
}
.icon-gitlab:before {
  content: "\f296";
}
