<article>
  <header>
    <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>

    {{ partial "post_meta.html" . }}

  </header>

  <p>
  {{ .Summary }}
  </p>

  {{ if .Truncated }}
  <footer>
    <a href="{{ .RelPermalink }}">Read more <i class="icon-angle-double-right"></i></a>
  </footer>
  {{ end }}
</article>
