<style>
	.tip {
	  width: 0px;
	  height: 0px;
	  position: absolute;
	  background: transparent;
	  border: 10px solid #ccc;
	}

	.tip-left {
	  top: 10px;
	  left: -25px;
	  border-top-color: transparent;
	  border-left-color: transparent;
	  border-bottom-color: transparent;
	}


	.dialogbox .body {
	  position: relative;
	  max-width: 500px;
	  height: auto;
	  margin: 20px 10px;
	  padding: 5px;
	  background-color: #DADADA;
	  border-radius: 3px;
	  border: 5px solid #ccc;
	}

	.body .message {
	  min-height: 30px;
	  border-radius: 3px;
	  font-family: Arial;
	  font-size: 14px;
	  line-height: 1.5;
	  color: #797979;
	}
</style>
<div>
	<h2 style="margin-top: 50px;">Comments</h2>
	<ul style="margin-top: 20px;">{{ if .Params.Comments }} {{ range .Params.Comments }}
		<div class="dialogbox">
			<div class="body"> <span class="tip tip-left"></span>
				<div class="message"> <span> {{ . }}

        </span>
				</div>
			</div>{{ end }} {{ else }}
			<div class="dialogbox">
				<div class="body"> <span class="tip tip-left"></span>
					<div class="message"> <span> There are no comments yet.

        </span>
					</div>
				</div>{{ end }}</ul>
	<h3>Add your comment!</h3>

		<form class="pure-form" name="Comments | {{ .Title }} " action="/thank-you/" netlify>
			 <fieldset class="pure-group">
				<input type="text" class="pure-input-1-3" name="name" placeholder="Your Name">
				<input type="email" class="pure-input-1-3" name="email" placeholder="Your Email">
			</fieldset>
			<textarea name="comment" class="pure-input-1-2" placeholder="Comment" rows="5"></textarea>
			<p>
				<button type="submit" class="pure-button pure-input-1-2 pure-button-primary" required>Comment!</button>
			</p>
		</form>

	</div>
