<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="yandex-verification" content="86eee2e93837f8fe" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ if .IsNode }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ else }}{{ with .Description }}{{ . }}{{ end }}{{ end }}">
  {{.Hugo.Generator}}

  <title>{{ if .IsHome }}{{ .Title }}{{ else }}{{ .Title }} &middot; {{ .Site.Title }}{{ end }}</title>
  <!-- RSS -->
  {{ if .RSSLink }}
  <link rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" href="{{ .RSSLink }}" />
  {{ end }}

  {{ partial "favicon.html" . }}
  <!--<link rel="stylesheet" href="/css/merged.css">-->
 {{ partial "css-minified.html" . }}
</head>
