{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
{{ $prev := "icon-angle-double-left"}}
{{ $next := "icon-angle-double-right"}}
<nav class="pagination" role="pagination">
  {{ if .Paginator.HasPrev }}
  <a href="{{ .Paginator.Prev.URL }}"><i class="{{ $prev }}"></i></a>
  {{ else }}
  <i class="{{ $prev }}"></i>
  {{ end }}
  <span>&nbsp;{{ .Paginator.PageNumber }} / {{ .Paginator.TotalPages }}&nbsp;</span>
  {{ if .Paginator.HasNext }}
  <a href="{{ .Paginator.Next.URL }}"><i class="{{ $next }}"></i></a>
  {{ else }}
  <i class="{{ $next }}"></i>
  {{ end }}
</nav>
{{ end }}
