<div class="pure-menu social">
  <ul class="pure-menu-list">

    {{ if .RSSLink }}
    <li class="pure-menu-item">
      <a class="pure-menu-link" href="{{ .RSSLink }}"><i class="icon-rss"></i>RSS</a>
    </li>
    {{ end }}

    <!-- SNS microblogging -->

    {{ with .Site.Social.twitter }}
    <li class="pure-menu-item">
      <a class="pure-menu-link" href="https://twitter.com/{{ . }}" target="_blank"><i class="icon-twitter"></i>Twitter</a>
    </li>
    {{ end }}

    <!-- SNS news -->

    {{ with .Site.Social.reddit }}
    <li class="pure-menu-item">
      <a class="pure-menu-link" href="https://reddit.com/user/{{ . }}" target="_blank"><i class="icon-reddit-alien"></i>Reddit</a>
    </li>
    {{ end }}

    <!-- Techie -->

    {{ with .Site.Social.github }}
    <li class="pure-menu-item">
      <a class="pure-menu-link" href="https://github.com/{{ . }}" target="_blank"><i class="icon-github"></i>GitHub</a>
    </li>
    {{ end }}

    {{ with .Site.Social.gitlab }}
    <li class="pure-menu-item">
      <a class="pure-menu-link" href="https://gitlab.com/{{ . }}" target="_blank"><i class="icon-gitlab"></i>GitLab</a>
    </li>
    {{ end }}
</br>
    <li class="pure-menu-item">
      <a href="/spam-comments/" target="_blank">Spam Comments</a>
    </li>

</br>
  </ul>
</div>
